In [5]:
import numpy as np
import itertools as itr

import os as os
import sys as sys 
import pandas as pd
import warnings
sys.path.append(os.path.join("..","Libraries","QML_lib"))
import Evo as evo
import DataBase

In [6]:
import importlib as imp
imp.reload(DataBase)

AttributeError: 'module' object has no attribute 'reload'

# Usage Examples

### Initialise Database
* Name some models according to model naming convention
* Create list of names
* Initialise data base with launch_db

In [7]:
DataBase.get_acted_on_qubits('y')

[1]

In [8]:
gen_list

['yTxPPzTi', 'xTyPPyTiTTTiTyPPxTiPPPPxTyPPyTiTTTiTyPPxTi', 'x']

In [11]:
name1 = 'yTxPPzTi'
name2 = 'xTyPPyTiTTTiTyPPxTiPPPPxTyPPyTiTTTiTyPPxTi'
name3 = 'x'

gen_list=[name1, name2]
db, model_db, model_lists = DataBase.launch_db(gen_list=gen_list)

In [3]:
db

,<Name>,Alph_Name,DB_location,LogL_Ext,Origin_epoch,QML_Class,Qubits_Acted_On,RootNode,Selected,Status
0,xPy,xPy,0,None,0,None,[1],NaN,False,Ready

### Check database after initialisation

In [41]:
db

,<Name>,Alph_Name,DB_location,LogL_Ext,Origin_epoch,QML_Class,Qubits_Acted_On,RootNode,Selected,Status
0,yTxPPzTi,yTxPPzTi,0,None,0,None,"[1, 2]",NaN,False,Ready
1,xTyPPyTiTTTiTyPPxTiPPPPxTyPPyTiTTTiTyPPxTi,xTyPPyTiTTTiTyPPxTiPPPPxTyPPyTiTTTiTyPPxTi,1,None,0,None,"[1, 2, 4]",NaN,False,Ready
2,x,x,2,None,0,None,[1],NaN,False,Ready

In [42]:
model_db

,<Name>,All_Operators_Matrices,All_Operators_Names,Alph_Name,Binary_Sum_Used_Qubits,Matrix,N_params,Num_Qubits
0,yTxPPzTi,"[[[0j, 0j, 0j, -1j], [0j, 0j, -1j, 0j], [0j, 1...","[yTx, zTi]",yTxPPzTi,6,"[[(1+0j), 0j, 0j, -1j], [0j, (1+0j), -1j, 0j],...",2,2
1,xTyPPyTiTTTiTyPPxTiPPPPxTyPPyTiTTTiTyPPxTi,"[[[0j, 0j, 0j, 0j, 0j, 0j, 0j, 0j, 0j, (-1-0j)...","[xTyPPyTiTTTiTyPPxTi, xTyPPyTiTTTiTyPPxTi]",xTyPPyTiTTTiTyPPxTiPPPPxTyPPyTiTTTiTyPPxTi,22,"[[0j, 0j, 0j, 0j, 0j, 0j, 0j, 0j, 0j, (-2+0j),...",2,4
2,x,"[[[0j, (1+0j)], [(1+0j), 0j]]]",[x],x,2,"[[0j, (1+0j)], [(1+0j), 0j]]",1,1

In [20]:
model_lists

{1: ['x'],
 2: ['yTxPPzTi'],
 3: [],
 4: ['xTyPPyTiTTTiTyPPxTiPPPPxTyPPyTiTTTiTyPPxTi'],
 5: [],
 6: [],
 7: [],
 8: [],
 9: [],
 10: [],
 11: [],
 12: []}

### Add a model to database and check database afterwards
* Then try to add the same new model -- it shouldn't allow previously considered models to be created

In [6]:
DataBase.add_model(model_name='yPx', running_database=db, model_db=model_db, model_lists=model_lists)

Model Not previously considered -- adding

In [8]:
DataBase.add_model(model_name='xTyPPyTiTTTiTyPPxTiPPPPxTyPPyTiTTTiTyPPxTi', running_database=db, model_db=model_db, model_lists=model_lists)

('Model', 'xTyPPyTiTTTiTyPPxTiPPPPxTyPPyTiTTTiTyPPxTi', ' previously considered at location', 1)

In [9]:
db

,<Name>,Alph_Name,DB_location,LogL_Ext,Origin_epoch,QML_Class,Qubits_Acted_On,RootNode,Selected,Status
0,yTxPPzTi,yTxPPzTi,0,None,0,None,"[1, 2]",NaN,False,Ready
1,xTyPPyTiTTTiTyPPxTiPPPPxTyPPyTiTTTiTyPPxTi,xTyPPyTiTTTiTyPPxTiPPPPxTyPPyTiTTTiTyPPxTi,1,None,0,None,"[1, 2, 4]",NaN,False,Ready
2,xTy,xTy,2,None,0,None,"[1, 2]",NaN,False,Ready
3,yPx,xPy,3,None,0,None,[1],NaN,False,Ready

In [28]:
model_db

,<Name>,All_Operators_Matrices,All_Operators_Names,Alph_Name,Binary_Sum_Used_Qubits,Matrix,N_params,Num_Qubits
0,yTxPPzTi,"[[[0j, 0j, 0j, -1j], [0j, 0j, -1j, 0j], [0j, 1...","[yTx, zTi]",yTxPPzTi,6,"[[(1+0j), 0j, 0j, -1j], [0j, (1+0j), -1j, 0j],...",2,2
1,xTyPPyTiTTTiTyPPxTiPPPPxTyPPyTiTTTiTyPPxTi,"[[[0j, 0j, 0j, 0j, 0j, 0j, 0j, 0j, 0j, (-1-0j)...","[xTyPPyTiTTTiTyPPxTi, xTyPPyTiTTTiTyPPxTi]",xTyPPyTiTTTiTyPPxTiPPPPxTyPPyTiTTTiTyPPxTi,22,"[[0j, 0j, 0j, 0j, 0j, 0j, 0j, 0j, 0j, (-2+0j),...",2,4
2,x,"[[[0j, (1+0j)], [(1+0j), 0j]]]",[x],x,2,"[[0j, (1+0j)], [(1+0j), 0j]]",1,1

In [11]:
model_lists

{1: ['xPy'],
 2: ['yTxPPzTi', 'xTy'],
 3: [],
 4: ['xTyPPyTiTTTiTyPPxTiPPPPxTyPPyTiTTTiTyPPxTi'],
 5: [],
 6: [],
 7: [],
 8: [],
 9: [],
 10: []}

# Operator Class examples

In [12]:
# Example of operator class instance
name='xTyPPiTz'
op = DataBase.operator(name)

In [24]:
DataBase.operator(name).num_qubits

2

## Methods on operator instance

#### Basic info

In [13]:
# Name of operator, used to instantiate it. 
op.name

'xTyPPiTz'

In [14]:
# How many qubits this model acts on.
op.num_qubits

2

In [15]:
# alphabetical version of name.
op.alph_name

'iTzPPxTy'

In [16]:
# Total matrix of operator.
op.matrix

array([[ 1.+0.j,  0.+0.j,  0.+0.j,  0.-1.j],
       [ 0.+0.j, -1.+0.j,  0.+1.j,  0.+0.j],
       [ 0.+0.j,  0.-1.j,  1.+0.j,  0.+0.j],
       [ 0.+1.j,  0.+0.j,  0.+0.j, -1.+0.j]])

In [17]:
# List of qubits which are acted on non-trivially.
op.qubits_acted_on

[1, 2]

#### Information about "constituents",  which add to give the model.

In [21]:
# Number of constituents. 
op.num_constituents

2

In [22]:
# Names (according to model naming convention) of those constituents.
op.constituents_names

['xTy', 'iTz']

In [23]:
# Matrices of constituents.
op.constituents_operators

[array([[ 0.+0.j,  0.+0.j,  0.+0.j,  0.-1.j],
        [ 0.+0.j,  0.+0.j,  0.+1.j,  0.+0.j],
        [ 0.+0.j,  0.-1.j,  0.+0.j,  0.+0.j],
        [ 0.+1.j,  0.+0.j,  0.+0.j,  0.+0.j]]),
 array([[ 1.+0.j,  0.+0.j,  0.+0.j,  0.+0.j],
        [ 0.+0.j, -1.+0.j,  0.+0.j, -0.+0.j],
        [ 0.+0.j,  0.+0.j,  1.+0.j,  0.+0.j],
        [ 0.+0.j, -0.+0.j,  0.+0.j, -1.+0.j]])]

In [119]:
random_model(num_dimensions=1, num_terms=4)

'yPxPyPy'

In [120]:
def random_model_name(num_dimensions=1, num_terms=1):
    import random
    paulis = ['x', 'y', 'z', 'i']
    p_str = ''
    t_str = ''
    
    for i in range(num_dimensions):
        p_str += 'P'
    for j in range(num_dimensions -1):
        t_str += 'T'
    
    
    summed_term = ''
    for j in range(1, num_terms+1):
        this_term = generate_term(num_dimensions)
        summed_term += this_term
        if(j!=num_terms):
            summed_term += p_str
            
    return summed_term

def generate_term(num_dimensions):
    import random
    paulis = ['x', 'y', 'z', 'i']

    t_str = ''
    running_str =''
    
    if num_dimensions == 1:
        return random.choice(paulis)
    else:
        for j in range(num_dimensions):
            t_str += 'T'
            running_str += random.choice(paulis)
            if j != num_dimensions -1:
                running_str += t_str

        return running_str